.siteNav {
    grid-column: 1/2;
    grid-row: 2;
    background-color: darkturquoise;

}

.navList__item {
 color: chocolate;
}

.navList__link{
    color: aliceblue;
    text-decoration: none;
}

.navList__link_active {
    color: blue;
}

