.app-wrapper {
  display: grid;
  grid-template-columns: minmax(200px, 1fr) 6fr minmax(200px, 1fr);
  /*width: 1200px;*/
  grid-gap: 20px;
  grid-auto-rows: minmax(100px, auto);
  justify-items: stretch;
}

.app-main-content {
  display: block;
}